{% extends 'base.html' %}
{% block h2 %}Update Address{% endblock %}
{% block main %}
<form action='{% url 'events:address_update' address.id %}' 
    class='remove-bottom alpha' method='post'>
    {% csrf_token %}
    <input type='hidden' name='path_from' value='{{ path_from }}'>
    <div class='row alpha'>
        {{ form }}
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input name='form' type='submit' value='Update Address' />
            <a href='{{ path_from }}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
