{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script type='text/javascript' 
    src='{% static 'events/js/event_form.js' %}'></script>
{% endblock %}
{% block h2 %}Update Event{% endblock %}
{% block main %}
<form action='{% url 'events:event_update' event.id %}?back={{ back }}' 
    class='seven columns alpha' method='post'>
    {% csrf_token %}
    <input type='hidden' name='back' value='{{ back }}'>
    <div class='row alpha'>
        {{ form }}
        <a class='alpha two columns' 
            href='{% url 'basal:address_create' %}?back={{ current_path }}'>create address</a>
        <div id='address_holder' 
            data-url='{% url 'basal:address_detail' pk=999 %}?back={{ current_path }}'> 
        </div>
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input name='form' type='submit' value='Update Event' />
            <a href='{{ back }}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
