{% extends "base.html" %}

{% block title %}Events List{% endblock %}

{% block h1 %}Events List{% endblock %}

{% block content %}
    <p>These are 10 latest events</p>
    {% if latest_events_list %}
    <ul>
        {% for event in latest_events_list %}
        <li><a href="{% url 'events:event_details' event.id %}">{{ event.event_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No events are available.</p>
    {% endif %}
    <p><a href='{% url "events:create_event" %}' title='create event link'>Create a new event</a></p>
{% endblock %}
