{% extends 'base_with_breadcrumb.html' %}

{% block 'page_header' %}The Events{% endblock %}

{% block 'page_header_small' %}Latest events. Upcoming events.{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li class='active'>Event List</li>
{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>

    <div class='row'>

        <div class='col-lg-12'>

            <table class='table table-hover table-condensed'>
                {% if event_list %}
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Organizer</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- /table header -->

                {% for key, event in event_list.items %}
                <tr
                    {% if event.event_owner %}
                    class='warning'
                    {% elif event.event_rsvp %}
                    class='success'
                    {% endif %}
                    >
                    <td>{{ event.event_title }}</td>
                    <td>{{ event.event_date }}</td>
                    <td>{{ event.address_city }}, {{ event.address_region }}</td>
                    <td>{{ event.fk_event_poster_user }}</td>
                    <td><a href='{% url 'events:event_detail' event.id %}'>Details</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>No event are available.</tr>
                {% endif %}
            </table>

        </div>
        <!-- /col-lg-12 -->

    </div>
    <!-- /row -->

    <br />

    <!-- start glossary -->
    <div class='row'>

        <div class='col-lg-12'>

            <div class='panel panel-default'>

                <div class='panel-body'>

                    <div class='col-xs-5'>
                        <div class='row'>
                            <div class='col-xs-1'>
                                <div class='table_glossary success'></div>
                            </div>
                            <div class='col-xs-4'>
                                RSVPed
                            </div>
                        </div>
                    </div>
                    <!-- /col-xs-5 -->

                    <div class='col-xs-5'>
                        <div class='row'>
                            <div class='col-xs-1'>
                                <div class='table_glossary warning'></div>
                            </div>
                            <div class='col-xs-4'>
                                My Event
                            </div>
                        </div>
                    </div>
                    <!-- /col-xs-5 -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>
        <!-- /col-lg-12 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->

<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>
            {% if user.username %}
            <a class='btn btn-primary' href='{% url 'events:event_create' %}' title='create event link'>Create a new event</a>
            {% else %}
            <a class='btn btn-primary' href='{% url 'basal:user_login' %}'>Sign in</a> to create a new event. Or <a class='btn btn-success' href='{% url 'basal:user_create' %}'>Join us</a> today!
            {% endif %}
        </div>
<!-- /col-xs-12 -->

    </div>
<!-- /row -->

</div>
<!-- /container -->
{% endblock %}
