{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script type='text/javascript' 
    src='{% static 'events/js/event_form.js' %}'></script>
{% endblock %}
{% block h2 %}New Event{% endblock %}
{% block main %}
<form action='{% url 'events:event_create' %}' class='seven columns alpha' 
    method='post'>
    {% csrf_token %}
    <div class='row alpha'>
        <div class='form_label'>Event Title</div>
        {{ form.event_title }}
        <div class='form_label'>Event Title</div>

        {{ form.event_type }}
        {{ form.event_time }}
        {{ form.event_detail }}
        {{ form.event_capacity }}
        {{ form.event_fk_event_image }}
        {{ form.event_fk_event_location }}
        <a class='alpha two columns' 
            href='{% url 'basal:address_create' %}?back={{ current_path }}'>create address</a>

        <div id='address_holder' 
            data-url='{% url 'basal:address_detail' pk=999 %}?back={{ current_path }}'> 
        </div>
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input type='submit' value='Create Event' />
            <a href='{% url 'events:event_list' %}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
