{% extends 'base_with_breadcrumb.html' %}
{% block 'page_header'%}Delete Event{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li><a href='{% url 'events:event_detail' event.id %}'>Event Detail</a></li>
<li class='active'>Delete Event</li>
{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-8 col-lg-8'>
            <form role='form' action='{% url 'events:event_delete' event.id %}' method='post'>
                {% csrf_token %}

                <p>Are you really going to remove {{ event.event_title }}?</p>
                <a class='btn btn-default' href='{% url 'events:event_detail' event.id %}'>Back</a>
                <button class='btn btn-danger ' type='submit'>Yes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
