{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script type='text/javascript' 
    src='{% static 'events/js/event_update.js' %}'></script>
{% endblock %}
{% block h2 %}Update Event{% endblock %}
{% block main %}
<form action='{% url 'events:event_update' event.id %}' 
    class='remove-bottom five columns alpha' method='post'>
    {% csrf_token %}
    <div class='row alpha'>
        {{ form }}
        <div id='address_holder' 
            data-url='{% url 'events:address_detail' pk=999 %}'> 
        </div>
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input name='form' type='submit' value='Update Event' />
            <a href='{% url 'events:event_list' %}'>Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
