{% extends 'base.html' %}
{% block h1 %}Event Details{% endblock %}

{% block main %}
<div class='event_wrapper row'>
    <h3>{{ event.event_title }}</h3>
    <div class='row'>
        <div class='alpha five columns'>
            <p class='form_label'>Status:</p>
            <p class='form_detail'>{{ event.event_status }}</p>
            <p class='form_label'>Capacity:</p>
            <p class='form_detail'>{{ event.event_capacity }}</p>
            <p class='form_label'>View count:</p>
            <p class='form_detail'>{{ event.event_view_count }}</p>
            <p class='form_label'>Likes:</p>
            <p class='form_detail'>{{ event.event_like }}</p>
            <p class='form_label'>Organizer:</p>
            <p class='form_detail'>{{ event.fk_event_poster_user.user_first_name }} {{ event.fk_event_poster_user.user_last_name }}</p>
        </div>
        <div class='five columns'>
            <p class='form_label'>Time:</p>
            <p class='form_detail'>{{ event.event_time }}</p>
            <p class='form_label'>Location:</p>
            <div class='address_wrapper'>
                <h5 class='lesser_emphasis'>{{ event.fk_address.address_title }}</h5>
                <p>{{ event.fk_address.address_city }}, 
                {{ event.fk_address.address_region }}
                <br />{{ event.fk_address.address_country }} 
                {{ event.fk_address.address_postal_code }}</p>
            </div>
            <p class='form_label'>Description:</p>
            <p class='form_detail'>{{ event.event_detail }}</p>
        </div>
    </div>
</div>

<hr />

<div class='row rsvp_list_wrapper clearfix'>
    <h3>RSVPs</h3>
    <ul class='clearfix add-bottom'>
        {% for rsvp in event.eventrsvp_set.all %}
        <li class='alpha five columns'>- {{ rsvp.fk_user.username }}</li>
        {% endfor %}
    </ul>
    <p class='row'>Total: {{ event.eventrsvp_set.all.count }}</p>
</div>

<hr />

<div class='row comment_list_wrapper clearfix'>
    <h3>Comments</h3>
        {% for comment in comment_list %}
        <div class='comment_wrapper alpha clearfix'>
            <p>{{ comment.comment_detail }}</p>
            <p class='small'>{{ comment.fk_comment_poster_user.user_first_name }}
            <span class='small italic'>{{ comment.comment_post_time }}
            </span></p>
        </div>
        {% endfor %}
        <p><a class='row lesser_emphasis' href='{% url 'events:event_comment_create' event.id %}?back={{ current_path }}' title='create event comment link'>Create a new comment</a></p>
</div>

<hr />

<div class='lesser_emphasis row clearfix'>
    <!-- back --!>
    {% if back %}
    <p class='alpha two columns'><a href='{{ back }}'>Back</a></p>
    {% else %}
    <p class='alpha two columns'><a href='{% url 'events:event_list' %}'>Back to list</a></p>
    {% endif %}

    <!-- user IS event_owner --!>
    {% if event_owner %}
    <!-- back exists --!>
    <p class='alpha two columns'><a href='{% url 'events:event_update' event.id %}?back={{ current_path }}'>Update event</a></p>
    {% if back %}
    <p class='alpha two columns'><a href='{% url 'events:event_delete' event.id %}?back={{ back }}'>Delete event</a></p>

    {% else %}
    <!-- back DO NOT exists --!>
    <p class='alpha two columns'><a href='{% url 'events:event_delete' event.id %}?back={% url 'events:event_list' %}'>Delete event</a></p>
    {% endif %}

    <!-- user is NOT event_owner --!>
    {% else %}

    {% if event_rsvp %}
    <!-- rsvp exists --!>
    <p class='alpha two columns'>
    {% if back %}
    <!-- back exists --!>
    <a href='{% url 'events:event_rsvp_remove' event.id %}?back={{ current_path }}'>Remove RSVP</a></p>
    {% else %}
    <!-- back DO NOT exists --!>
    <a href='{% url 'events:event_rsvp_remove' event.id %}'>Remove RSVP</a></p>
    {% endif %}

    {% else %}
    <!-- rsvp DO NOT exists --!>
    {% if back %}
    <!-- back exists --!>
    <p class='alpha two columns'><a href='{% url 'events:event_rsvp' event.id %}?back={{ current_path }}'>RSVP</a></p>
    {% else %}
    <!-- back DO NOT exists --!>
    <p class='alpha two columns'><a href='{% url 'events:event_rsvp' event.id %}'>RSVP</a></p>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
