{% extends 'base.html' %}
{% block h1 %}The Events{% endblock %}
{% block h4 %}Latest events. Upcoming events.{% endblock %}
{% block main %}
{% if event_list %}
<ul>
    {% for key, event in event_list.items %}
    <li><div class='event_wrapper'>
        <h3>{{ event.event_title }} 
            {% if event.event_rsvp %}
            <span class='rsvp_tag'>RSVPed</span>
            {% endif %}
            {% if event.event_owner %}
            <span class='is_owner_tag'>My Event</span>
            {% endif %}
        </h3>
        <h6 class='italic_span'>{{ event.event_date }}</h6>
        <p>{{ event.fk_address.address_region }}, {{ event.fk_address.address_city }}</p>
        <div class='row'>
            <a href='{% url 'events:event_detail' event.id %}'>Details</a>
            {% if event.event_rsvp %}
            <a href='{% url 'events:event_rsvp_remove' event.id %}?back={{ current_path }}'>Remove RSVP</a>
            {% endif %}
        </div>
        <hr />
    </div></li>
    {% endfor %}
</ul>
{% else %}
<p>No event are available.</p>
{% endif %}

<p class='lesser_emphasis'>
{% if user.username %}
<a href='{% url 'events:event_create' %}' title='create event link'>
    Create a new event</a>
{% else %}
<a href='{% url 'basal:user_login' %}'>Sign in</a> to create a new 
event. Or <a href='{% url 'basal:user_create' %}'>Join us</a> today!
{% endif %}
</p>
{% endblock %}
