{% extends 'base.html' %}
{% block h2 %}Event: {{ event.event_title }}{% endblock %}

{% block main %}
<div class='row'>
<div class='alpha eight columns'>
    <ul id='details'>
        <li class='row'><span class='field_label three columns'>
            Event type: </span>{{ event.event_type }}</li>
        <li class='row'><span class='field_label three columns'>
            Event status: </span>{{ event.event_status }}</li>
        <li class='row'><span class='field_label three columns'>
            Event time: </span>{{ event.event_time }}</li>
        <li class='row'><span class='field_label three columns'>
            Event create time: </span>{{ event.event_create_time }}</li>
        <li class='row'><span class='field_label three columns'>
            Event view count: </span>{{ event.event_view_count }}</li>
        <li class='row'><span class='field_label three columns'>
            Event capacity: </span>{{ event.event_capacity }}</li>
        <li class='row'><span class='field_label three columns'>RSVP: </span>
        {{ event.event_rsvp }}</li>
        <li class='row'><span class='field_label three columns'>Likes: </span>
        {{ event.event_like }}</li>
        <li class='row'><span class='field_label three columns'>
            Recent updates: </span>{{ event.event_recent_update }}</li>
        <li class='row'><span class='field_label three columns'>Details: </span>
        {{ event.event_detail }}</li>
        <li class='row'><span class='field_label three columns'>
            Location: </span>
        <div class='alpha three columns'>
            <p class='reset'>[ {{ event.fk_address }} ]</p>
            <p class='reset'>{{ event.fk_address.address_detail }}</p>
            <p class='reset'>{{ event.fk_address.address_city }}, 
            {{ event.fk_address.address_region }}</p> 
            <p class='reset'>{{ event.fk_address.address_country }} 
            {{ event.fk_address.address_postal_code }}</p>
        </div></li>
    </ul>
</div>
<div class='alpha five columns'>
    <p class='field_label'>RSVP List:</p>
    <ul>
    {% for rsvp in event.eventrsvp_set.all %}
    <li>{{ rsvp.fk_user.username }}</li>
    {% endfor %}
    </ul>
</div>
</div>
<div class='row'>
<p class='alpha two columns'><a href='{% url 'events:event_list' %}'>back to list</a></p>
{% if event_owner %}
<p class='alpha two columns'><a href='{% url 'events:event_update' event.id %}'>update event</a></p>
<p class='alpha two columns'><a href='{% url 'events:event_delete' event.id %}'>delete event</a></p>
{% endif %}
{% if event_rsvp %}
<p class='alpha two columns'>
    <a href='{% url 'events:event_rsvp_remove' event.id %}'>remove rsvp</a></p>
{% else %}
<p class='alpha two columns'><a href='{% url 'events:event_rsvp' event.id %}'>
    rsvp</a></p>
{% endif %}
</div>
{% endblock %}
