{% extends 'base.html' %}

{% block h1 %}Create Event Comment{% endblock %}

{% block main %}
<div class='form_wrapper'>
    {% if form.non_field_errors %}
    <ul class='form_errors'>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id='event_comment_create_form' action='{% url 'events:event_comment_create' pk %}?back={{ back }}' class='alpha clearfix' method='post'>
        <input type='hidden' name='back' value='{{ back }}'>
        {% csrf_token %}
        {{ form }}
        <input name='form' type='submit' value='Create' />
        <br />
        <a href='{{ back }}'>Back</a>
    </form>
</div>
{% endblock %}
