{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block more_header %}
{% endblock %}
{% block h1 %}Dashboard of {{ user.username }}{% endblock %}

{% block body %}
<ul>
    <li><p>username: {{ user.username }}</p></li>
    <li><p>last name:{{ user.last_name }}</p></li>
    <li><p>first name: {{ user.first_name }}</p></li>
    <li><p>email: {{ user.email }}</p></li>
    <li><p>last login: {{ user.last_login }}</p></li>
    <li><p>date joined: {{ user.date_joined }}</p></li>
    <li><p>nick name: {{ user_profile.user_nickname }}</p></li>
    <li><p>gender: {{ user_profile.user_gender }}</p></li>
    <li><p>description: {{ user_profile.user_description }}</p></li>
</ul>

{% endblock %}
