{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block h1 %}Main Page{% endblock %}

{%block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget facilisis elit. Maecenas nec dui lacinia, commodo eros at, posuere tellus. Nullam elit ipsum, facilisis eget erat mattis, pellentesque lobortis metus. Nunc ipsum turpis, venenatis vel vehicula ac, hendrerit ac leo. Vivamus vel elit non dui porttitor tristique. Curabitur eget venenatis mauris. Nunc ornare feugiat risus, eget tristique orci posuere ornare. Suspendisse a lobortis sem. Donec tempus mi vitae laoreet volutpat. Pellentesque diam ligula, malesuada id vehicula quis, adipiscing at ipsum. Nulla facilisi. In hac habitasse platea dictumst. Sed accumsan felis ac egestas scelerisque. Proin malesuada laoreet sapien.</p>

<p>In metus est, aliquam vel lorem eget, imperdiet tempor mauris. Vivamus pulvinar ultricies diam, eu feugiat ligula ultricies a. Quisque id consequat neque, at lacinia urna. Donec ligula massa, vulputate vitae ipsum eget, placerat dictum nisl. Vivamus non dui non lectus fringilla fringilla. Sed tincidunt in quam adipiscing placerat. Aliquam dignissim velit quis lacus imperdiet consequat. Mauris sodales consequat sem, sed tincidunt eros tincidunt sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse id aliquam sem, sit amet auctor enim. Aliquam sed nisl tristique, rhoncus lacus quis, ornare erat. In sed lectus at elit vehicula tristique.</p>
{% endblock %}
