<!DOCTYPE html>
<!--[if lt IE 7 ]><html class='ie ie6' lang='en'> <![endif]-->
<!--[if IE 7 ]><html class='ie ie7' lang='en'> <![endif]-->
<!--[if IE 8 ]><html class='ie ie8' lang='en'> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang='en'> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset='utf-8'>
    <title>{% block title %}App{% endblock %}</title>
    <meta name='description' content=''>
    <meta name='author' content=''>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name='viewport' 
    content='width=device-width, initial-scale=1, maximum-scale=1'>

    <!-- CSS
    ================================================== -->
    {% load staticfiles %}
    <link rel='stylesheet' href='{% static 'css/base.css' %}'>
    <link rel='stylesheet' href='{% static 'css/skeleton.css' %}'>
    <link rel='stylesheet' href='{% static 'css/layout.css' %}'>
    <link rel='stylesheet' 
    href='{% static 'css/jquery-ui-1.10.3.custom.min.css' %}'>
    <link rel='stylesheet' 
    href='{% static 'css/jquery.ui.timepicker.css' %}'>

    <script type='text/javascript' 
        src='{% static 'js/jquery-1.10.2.min.js' %}'></script>
    <script type='text/javascript' 
        src='{% static 'js/jquery-ui-1.10.3.custom.min.js' %}'></script>
    <script type='text/javascript' 
        src='{% static 'js/jquery.ui.timepicker.js' %}'></script>
    {% block extra_head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'>
    </script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel='shortcut icon' href='{% static 'img/favicon.ico' %}'>
    <link rel='apple-touch-icon' 
    href='{% static 'img/apple-touch-icon.png' %}'>
    <link rel='apple-touch-icon' sizes='72x72' 
    href='{% static 'img/apple-touch-icon-72x72.png' %}'>
    <link rel='apple-touch-icon' sizes='114x114' 
    href='{% static 'images/apple-touch-icon-114x114.png' %}'>
</head>

<body>
    <div class='container'>
        <div class='side_bar clearfix three columns'>
            <h3>The App</h3>
            <nav>
            <ul>
                <li><a id='nav_a' href='{% url 'basal:main' %}'>What's Up?</a></li>
                <li><a href='{% url 'events:event_list' %}'>The Events</a></li>
                <li><a href=#>Contact Us</a></li>
            </ul>
            <hr id='nav_hr' />
            <ul>
                {% if user.username %}
                <li><a class='nav_b' href='{% url 'basal:dashboard' %}'>My Dashboard</a></li>
                <div class='anchor_nav'>
                    {% block sub_nav %}{% endblock %}
                </div>
                <li>
                <a href='{% url 'basal:logout' %}?next={% url 'basal:main' %}'>Sign Out</a></li>
                {% else %}
                <li><a href='{% url 'basal:user_login' %}'>Sign In</a></li>
                <li><a href='{% url 'basal:user_create' %}'>Join Us</a></li>
                {% endif %}
            </ul>
            </nav>
            &nbsp;
        </div>

        <div class='main_wrapper clearfix twelve columns offset-by-four'>
            <header>
            <h1>{% block h1 %}{% endblock %}</h1>
            <h4>{% block h4 %}{% endblock %}</h4>
            </header>
            <main>
            {% block main %}{% endblock %}
            </main>
        </div>
    </div><!-- container -->
</body>
    </html>
