{% extends 'base.html' %}
{% block 'main' %}
<header>
<div class='container'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1 class='page-header'>{% block 'page_header' %}{% endblock %} <small>{% block 'page_header_small' %}{% endblock %}</small></h1>
            <ol class='breadcrumb'>
                {% block 'breadcrumb' %}
                {% endblock %}
            </ol>

        </div>
    </div>
</div>
</header>

{% block 'main_with_breadcrumb' %}{% endblock %}
{% endblock %}
