{% extends 'base_with_breadcrumb.html' %}
{% block 'page_header'%}Delete Address{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li><a href='{% url 'basal:dashboard' %}'>Dashboard</a></li>
<li class='active'>Delete Address</li>
{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>

    <div class='row'>

        <div class='col-sm-8 col-lg-8'>

            <form action='{% url 'basal:address_delete' address.id %}' method='post'>
                {% csrf_token %}

                <p>Are you really going to remove {{ address.address_title }}?</p>
                <a class='btn btn-default' href='{% url 'basal:dashboard' %}#addresses'>Back</a>
                <button class='btn btn-danger ' type='submit'>Yes</button>
            </form>

        </div>
        <!-- /col-sm-8 col-lg-8 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->
{% endblock %}
