{% extends 'base.html' %}
{% block h2 %}New Address{% endblock %}
{% block main %}
<form action='{% url 'basal:address_create' %}?next={{ next }}' class='seven columns alpha' 
    method='post'>
    {% csrf_token %}
    <input type='hidden' name='next' value='{{ next }}'>
    <div class='row alpha'>
        {{ form }}
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input type='submit' value='Create Address' />
            <a href='{{ next }}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
