{% extends 'base_with_breadcrumb.html' %}
{% block 'page_header' %}My Dashboard{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li class='active'>Dashboard</li>
{% endblock %}


{% block 'main_with_breadcrumb' %}
<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>My Profile</h3>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        <!-- left col -->
                        <div class='col-sm-6'>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Username</strong></div>
                                <div class="panel-body">
                                    {{ user.username }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Email</strong></div>
                                <div class="panel-body">
                                    {{ user.email }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>First name</strong></div>
                                <div class="panel-body">
                                    {{ user.user_first_name }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Last name</strong></div>
                                <div class="panel-body">
                                    {{ user.user_last_name }}
                                </div>
                            </div>
                        </div>
                        <!-- /left col -->

                        <!-- right col -->
                        <div class='col-sm-6'>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Nickname</strong></div>
                                <div class="panel-body">
                                    {{ user.user_nickname }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Gender</strong></div>
                                <div class="panel-body">
                                    {{ user.user_gender }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Location</strong></div>
                                <div class="panel-body">
                                    {{ user.user_location }}
                                </div>
                            </div>
                        </div>
                        <!-- /right col -->
                    </div>
                    <!-- /row -->

                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Description</strong></div>
                                <div class="panel-body">
                                    {{ user.user_description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->

                    <hr />

                    <div class='row'>
                        <div class='col-xs-12'>
                            <a class='btn btn-warning' href='{% url 'basal:user_update' %}'>Update profile</a>
                        </div>
                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>

    </div>
    <!-- /row -->

</div>
<!-- /container -->

{% include 'basal/dashboard_address.html' %}
{% include 'basal/dashboard_event.html' %}
{% include 'basal/dashboard_rsvp.html' %}
{% include 'basal/dashboard_tag.html' %}

    <div class='row'>
        <a href='{% url 'basal:user_image_list' %}'>Manage user image</a>
    </div>
    {% endblock %}
