{% extends 'base.html' %}
{% block h2 %}Dashboard of </span>{{ user.username }}{% endblock %}
{% block main %}
<ul>
    <li><span class='field_label'>username: </span>{{ user.username }}</li>
    <li><span class='field_label'>last name: </span>{{ user.last_name }}</li>
    <li><span class='field_label'>first name: </span>{{ user.first_name }}
    </li>
    <li><span class='field_label'>email: </span>{{ user.email }}</li>
    <li><span class='field_label'>last login: </span>{{ user.last_login }}
    </li>
    <li><span class='field_label'>date joined: </span>{{ user.date_joined }}
    </li>
    <li><span class='field_label'>nick name: </span>
    {{ user_profile.user_nickname }}</li>
    <li><span class='field_label'>gender: </span>
    {{ user_profile.user_gender }}</li>
    <li><span class='field_label'>description: </span>
    {{ user_profile.user_description }}</li>
</ul>
{% endblock %}
