<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>

            <div class='panel panel-default'>

                <div class='panel-heading'>
                    <h4>My Event</h4>
                    <div class='anchor_offset' id='events'></div>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        {% if event_list %}
                        <div class='col-xs-12'>
                            <div class='list-group'>
                                {% for event in event_list %}
                                <a href='{% url 'events:event_detail' event.id %}' class='list-group-item'>{{ event.event_title }}
                                    <span class='badge'>{{ event.get_event_rsvp_count }}</span> 
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class='col-xs-12'>
                            <p>No Event are available.</p>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /row -->

                    <hr />

                    <div class='row'>
                        <div class='col-xs-12'>
                            <a class='btn btn-primary' href='{% url 'events:event_create' %}' title='create event link'>Create a new event</a>
                        </div>
                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>
        <!-- /col-xs-12 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->
