<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>

            <div class='panel panel-default'>

                <div class='panel-heading'>
                    <h4>My RSVPs</h4>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        {% if rsvp_list %}
                        <div class='col-xs-12'>
                            <div class='list-group'>
                                {% for rsvp in rsvp_list %}
                                <a href='{% url 'events:event_detail' rsvp.fk_event.id %}' class='list-group-item'>{{ rsvp.fk_event.event_title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class='col-xs-12'>
                            <p>You didn't RSVP any event.</p>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>

    </div>
    <!-- /row -->

</div>
<!-- /container -->
