<div class='rsvp_list_wrapper row'>
    <h3 id='my_rsvps'>My RSVPs</h3>
    {% if rsvp_list %}
    <ul>
        {% for rsvp in rsvp_list %}
        <div class='row'>
            <div class='alpha nine columns rsvp_wrapper'>
                <p><span class='five columns'>- {{ rsvp.fk_event.event_title }}</span> <a class='' href='{% url 'events:event_rsvp_remove' rsvp.fk_event.id %}?back={{ current_path }}'>Remove RSVP</a>
                    </p>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p class='italic'>No RSVPs are available.</p>
    {% endif %}

    <hr class='half-bottom' />
</div>
