<div class='address_list_wrapper row'>
    <h3 id='my_address'>Address</h3>
    {% if address_list %}
    <ul>
        {% for address in address_list %}
        <div class='row'>
            <div class='alpha nine columns address_wrapper'>
                <h5 class='lesser_emphasis'>{{ address.address_title }}</h5>
                <p class='italic'>{{ address.address_detail }}</p>
                <p>{{ address.address_city }}, 
                {{ address.address_region }}
                <br />{{ address.address_country }} 
                {{ address.address_postal_code }}</p>
                <div class='row'>
                    <a class='' href='{% url 'basal:address_update' address.id %}?back={{ current_path }}'>Update</a>
                    <a class='' href='{% url 'basal:address_delete' address.id %}?back={{ current_path }}'>Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p class='italic'>No Address are available.</p>
    {% endif %}

    <a class='row lesser_emphasis' href='{% url 'basal:address_create' %}?back={{ current_path }}' title='create address link'>Create a new address</a>
    <hr class='half-bottom' />
</div>
