<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>
            <div class='panel panel-default'>

                <div class='panel-heading'>
                    <h4 id='my_addresses'>Address</h4>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        {% if address_list %}
                        {% for address in address_list %}
                        <div class='col-sm-6'>
                            <div class='panel panel-default'>
                                <div class='panel-body'>
                                    <address>
                                        <strong>{{ address.address_title }}</strong><br>
                                        {{ address.address_detail }}<br>
                                        {{ address.address_city }}<br>
                                        {{ address.address_region }}<br>
                                        {{ address.address_country }} 
                                        {{ address.address_postal_code }}
                                    </address>
                                    <a class='btn btn-warning' href='{% url 'basal:address_update' address.id %}'>Update</a>
                                    <a class='btn btn-danger' href='{% url 'basal:address_delete' address.id %}'>Delete</a>
                                </div>
                                <!-- /panel-body -->

                            </div>
                            </!-- /panel -->
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class='col-xs-12'>
                            <p>No Address are available.</p>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /row -->

                    <hr />

                    <div class='row'>
                        <div class='col-xs-12'>
                            <a class='btn btn-primary' href='{% url 'basal:address_create' %}' title='create address link'>Create a new address</a>
                        </div>
                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>

    </div>
    <!-- /row -->

</div>
<!-- /container -->
