<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>

            <div class='panel panel-default'>

                <div class='panel-heading'>
                    <h4 id='my_tags'>My Tags</h4>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        {% if tag_list %}
                        <div class='col-xs-12'>
                                {% for tag in tag_list %}
                                <span class='label label-default'>{{ tag.tag }}</span>
                                <strong><a class='user_tag_cancel' href='{% url 'basal:user_tag_delete' tag.id %}?anchor=#my_tags'>x</a></strong>
                                {% endfor %}
                        </div>
                        {% else %}
                        <div class='col-xs-12'>
                            <p>No tags are set.</p>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /row -->

                    <hr />

                    <div class='row'>
                        <div class='col-xs-12'>
                            <form class='form-inline' role='form' action='{% url 'basal:user_tag_create' %}?anchor=#my_tags' method='post'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <label class='sr-only' for='tag_input'>Tag</label>
                                    <input class='form-control' name='tag_input' type='text' placeholder='Enter a new tag'>
                                </div>
                                <button class='btn btn-primary' type='submit'>Add Tag</button>
                            </form>
                        </div>
                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>

    </div>
    <!-- /row -->

</div>
<!-- /container -->
