{% extends 'base_with_breadcrumb.html' %}
{% block 'page_header' %}Sign In{% endblock %}
{% block 'page_header_small' %}Update profile. Change avatar image. Create events. Join events.{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li class='active'>Sign in</li>
{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-8 col-lg-8 center_this'>
            {% if form.non_field_errors %}
            <ul class='form_errors'>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form role='form' method='post' action='{% url 'basal:user_login' %}'>
                {% csrf_token %}
                {% for field in form %}
                <div class='form-group'
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                    <p class='help-block'>{{ field.help_text }}</p>
                </div>
                {% endfor %}
                <button class='btn btn-default' type='submit'>Submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}


