{% extends 'base.html' %}
{% block h2 %}Login{% endblock %}
{% block main %}
<div id='form_container'>
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id='form' method='post' action='{% url 'basal:user_login' %}'>
        {% csrf_token %}
        {% for field in form %}
        <div class='field_wrapper'>
            <div id='labelname'>{{ field.label_tag }}</div>
            <div id='error'><strong>{{ field.errors }}</strong></div>
            <div id='field'>{{ field }}</div>
            <p>{{ field.help_text }}</p>
        </div>
        {% endfor %}
        <input id='button' type='submit'/>
    </form>
</div>
{% endblock %}


