{% extends 'base_with_breadcrumb.html' %}

{% block 'page_header' %}Reset Password{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>

    <div class='row'>

        <div class='col-sm-8 col-lg-8 center_this'>
            <p>Please specify your email address to receive instructions for resetting it.</p>

            <form role='form' action='' method='post'>
                {% csrf_token %}

                <div class='form-group'>
                    <label for='id_email'>E-mail address:</label>
                    <input class='form-control' id='id_email' maxlength='255' name='email' type='email'>
                    {{ form.email.errors }}
                </div>
                <button class='btn btn-primary' type='submit'>Reset Password</button>
            </form>

        </div>
        <!-- /col-xs-12 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->
{% endblock %}
