{% extends 'base.html' %}
{% block h2 %}New UserImage{% endblock %}
{% block main %}
<form action='{% url 'basal:user_image_create' %}?back={{ back }}' class='seven columns alpha' enctype='multipart/form-data' method='post'>
    {% csrf_token %}
    <input type='hidden' name='back' value='{{ back }}'>
    <div class='row alpha'>
        {{ form }}
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input type='submit' value='Create UserImage' />
            <a href='{{ back }}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
