{% extends 'base_with_breadcrumb.html' %}
{% block 'page_header' %}Sign Up{% endblock %}
{% block 'page_header_small' %}Yes! Join us today. You would love it here.{% endblock %}

{% block 'breadcrumb' %}
<li><a href='{% url 'basal:main' %}'>Home</a></li>
<li class='active'>Sign Up</li>
{% endblock %}

{% block 'main_with_breadcrumb' %}
<div class='container'>

    <div class='row'>

        <div class='col-sm-8 col-lg-8 center_this'>

            {% if form.non_field_errors %}
            <ul class='form_errors'>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- /form_errors -->

            <form role='form' action='{% url 'basal:user_create' %}' method='post'>
                {% csrf_token %}

                {% for field in form %}
                <div class='form-group'>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.errors %}
                    <script type="text/javascript">formGroupWithError('#{{ field.id_for_label }}');</script>
                    {{ field.errors }}
                    {% endif %}

                    <p class='help-block'>{{ field.help_text }}</p>
                </div>
                {% endfor %}
                <button class='btn btn-primary' type='submit'>Sign up</button>
            </form>

        </div>
        <!-- /col-sm-8 col-lg-8 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->
{% endblock %}
