{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script type='text/javascript' 
    src='{% static 'events/js/event_form.js' %}'></script>
{% endblock %}
{% block h2 %}Update Profile{% endblock %}
{% block main %}
<form action='{% url 'basal:user_update' %}' 
    class='seven columns alpha' method='post'>
    {% csrf_token %}
    <div class='row alpha'>
        {{ form }}
    </div>
    <div class='row alpha'>
        <div class='three columns alpha'>
            <input name='form' type='submit' value='Update Profile' />
            <a href='{% url 'basal:dashboard' %}'>Back</a>
        </div>
    </div>
</form>
{% endblock %}
