{% extends 'base.html' %}
{% block h1 %}User Detail{% endblock %}

{% block main %}
<div class='dashboard_wrapper row'>
    <h3>Profile</h3>
    <div class='row'>
        <div class='alpha five columns'>
            <p class='form_label'>Username:</p>
            <p class='form_detail'>{{ t_user.username }}</p>
            <p class='form_label'>Email:</p>
            <p class='form_detail'>{{ t_user.email }}</p>
            <p class='form_label'>First name:</p>
            <p class='form_detail'>{{ t_user.user_frst_name }}</p>
            <p class='form_label'>Last name:</p>
            <p class='form_detail'>{{ t_user.user_last_name }}</p>
        </div>
        <div class='five columns'>
            <p class='form_label'>Nickname:</p>
            <p class='form_detail'>{{ t_user.user_nickname }}</p>
            <p class='form_label'>Gender:</p>
            <p class='form_detail'>{{ t_user.user_gender }}</p>
            <p class='form_label'>Location:</p>
            <p class='form_detail'>{{ t_user.user_location }}</p>
            <p class='form_label'>Description:</p>
            <p class='form_detail'>{{ t_user.user_description }}</p>
        </div>
    </div>
    <hr class='half-bottom' />
</div>
{% include 'basal/user_detail_event.html' %}
{% include 'basal/user_detail_rsvp.html' %}
{% include 'basal/user_detail_tag.html' %}
{% endblock %}
