<div class='rsvp_list_wrapper row'>
    <h3 id='user_rsvps'>RSVPs</h3>
    {% if rsvp_list %}
    <ul>
        {% for rsvp in rsvp_list %}
        <div class='row'>
            <div class='alpha nine columns rsvp_wrapper'>
                <p><span class='five columns'>- <a href='{% url 'events:event_detail' rsvp.fk_event.id %}'>{{ rsvp.fk_event.event_title }}</a></span>
                </p>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p class='italic'>No RSVPs are available.</p>
    {% endif %}

    <hr class='half-bottom' />
</div>
