{% extends 'base.html' %}
{% block h1 %}Join Us{% endblock %}
{% block h4 %}Yes! Join us today. You would love it here.{% endblock %}

{% block main %}
<div class='form_wrapper'>
    {% if form.non_field_errors %}
    <ul class='form_errors'>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id='user_create_form' action='{% url 'basal:user_create' %}?back={{ back }}' class='alpha clearfix' method='post'>
        <input type='hidden' name='back' value='{{ back }}'>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            <p class='italic'>{{ field.help_text }}</p>
        {% endfor %}

        <input name='form' type='submit' value='Join us' />
        <br />
        <a href='{{ back }}'>Back</a>
    </form>
</div>
{% endblock %}
