<div class='container'>

    <div class='row'>

        <div class='col-xs-12'>

            <div class='panel panel-default'>

                <div class='panel-heading'>
                    <h4>User RSVPs</h4>
                </div>
                <!-- /panel-heading -->

                <div class='panel-body'>

                    <div class='row'>

                        {% if rsvp_list %}
                        <div class='col-xs-12'>

                            <div class='list-group'>
                                {% for key, rsvp in rsvp_list.items %}
                                <a href='{% url 'events:event_detail' rsvp.fk_event.id %}'
                                    {% if rsvp.event_owner %}
                                    class='list-group-item list-group-item-warning'
                                    {% elif rsvp.event_rsvp %}
                                    class='list-group-item list-group-item-success'
                                    {% else %}
                                    class='list-group-item'
                                    {% endif %}
                                    >
                                    {{ rsvp.fk_event.event_title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class='col-xs-12'>
                            <p>No RSVP any event.</p>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /row -->

                </div>
                <!-- /panel-body -->

            </div>
            <!-- /panel -->

        </div>
        <!-- /col-xs-12 -->

    </div>
    <!-- /row -->

</div>
<!-- /container -->
